.feedCard {
  width: 700px; /* 카드의 너비를 700px로 변경 */
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.title {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f0f0f0;
  font-size: 20px; /* 제목 글자 크기를 크게 */
  font-weight: bold; /* 제목 글자를 두껍게 */
  overflow: auto;
}

.content {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f0f0f0;
  font-size: 18px; /* 내용 글자 크기를 조금 크게 */
  overflow: auto;
}

.author {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f0f0f0;
  font-size: 16px; /* 저자 글자 크기를 기본 크기로 */
}

.buttons button {
  margin-right: 10px;
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 12px;
}

.buttons button:hover {
  background-color: #4CAF50;
  color: white;
}

.comments, .commentInput {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #f0f0f0;
}
.commentInput {
  position: relative; /* commentInput의 위치를 상대적으로 설정 */
  justify-content:flex-end;
  display: flex; /* commentInput 내부 요소를 flex로 지정 */
}

.commentInput textarea {
  flex-grow: 1; /* textarea가 남는 공간을 모두 차지하도록 설정 */
  width: 100%; /* textarea의 너비를 최대로 설정 */
  word-wrap: break-word; /* 단어가 textarea의 너비를 초과하면 다음 줄로 넘어감 */
  margin-right: 24px; /* textarea 오른쪽에 10px의 여백을 설정 */
}

.commentInput button {
  width: 100px; /* 버튼의 너비를 100px로 설정 */
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.commentInput button:hover {
  background-color: #4CAF50;
  color: white;
}